/* Write your CSS here */
.button {
  background-color: #585076;
  color: white;
  border: 1px solid white;
  width: 80px;
  height: 30px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  margin: 10px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
